<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:oauth="http://www.springframework.org/schema/security/oauth"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/security/oauth http://www.springframework.org/schema/security/spring-security-oauth.xsd">

  <!-- Stuff for which I don't believe there's a Java-based configuration equivalent -->

  <context:property-placeholder />

  <oauth:consumer-details-service id="consumerDetails">
    <oauth:consumer name="AppDirect" key="${oauth.consumer-key}" secret="${oauth.consumer-secret}" />
  </oauth:consumer-details-service>

</beans>